@import "colors.css";

@define-color fg @foreground;
@define-color bg @background;
/* @define-color bg #101010; */
@define-color fg-alt @color15;
@define-color bg-alt @color2;

* {
  border: none;
  min-height: 20px;
  font-weight: 400;
  font-family: 'Ubuntu Nerd Font';
  font-size: 12px;
}

/* <<--< Main Background >-->> */

window#waybar > box {
  background-color: @bg;
}

/* <<--< Drop Shadow >-->> */

window#waybar {
  /* background: @bg-alt; */
  background: @bg-alt;
}

/* <<--< Tooltip >-->> */

tooltip {
  background: @bg;
  border: solid;
  border-width: 1px;
  border-radius: 0px;
  /* border-color: @bg-alt; */
  border-color: @bg-alt;
}
tooltip label {
  color: @fg;
  font-weight: normal;
  margin: -1.5px 3px;
}

#clock,
#battery,
#window,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-pacman,
#custom-power,
#custom-wifi,
#custom-spotify,
#tray,
#bluetooth,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-clipboard,
#custom-screenshot,
#custom-colorpicker,
#custom-notification,
#mpd {
  padding: 0px 6px;
  color: @fg;
  margin: 0px;
  border-radius: 0px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-pacman:hover,
#custom-power:hover,
#custom-wifi:hover,
#custom-spotify:hover,
#tray:hover,
#bluetooth:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#custom-clipboard:hover,
#custom-screenshot:hover,
#custom-colorpicker:hover,
#custom-notification:hover,
#mpd:hover {
  color: @fg-alt;
}

#workspaces {
  padding: 0;
  /* margin-left: 4px; */
  /* margin-top: 4px; */
}

#window{
  color: @fg-alt;
}

#workspaces button {
  /* transition-property: background-color; */
  /* transition-duration: 0.3s; */
  /* background: transparent; */
  /* padding: 0px 6px; */
  padding: 0 4px;
  margin: 0px;
  border-radius: 0px;
  color: @fg;
}

#workspaces button:hover {
  background: @fg;
  color: @bg;
}

#workspaces button.urgent {
  font-weight: bold;
  background: @fg;
  color: @bg;
}

#workspaces button.active {
  background: @fg-alt;
  color: @bg;
}

#mpris, #mpris.paused {
  color: @fg;
}

#mpris.playing {
  color: @fg-alt;
}
